.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.todo-list-wrap {
  margin: 0.5rem 0.5rem;
}
.todo-item-wrap {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding-left: 1rem;
  border: 2px solid rgb(63, 24, 24);
  border-radius: 5px;
  background: rgba(211, 125, 94, 0.8);
}
.todo-item-wrap > button {
  margin: 1rem;
  margin-right: 5rem;
  background: rgba(105, 16, 16, 0.932);
  border: 2px solid #ccc;
  border-radius: 10px;
}
.todo-item-wrap > button:hover {
  background: rgba(163, 16, 16, 0.932);
  cursor: pointer;
}
.todo-item {
  margin: 1rem 1rem;
  padding-left: 1rem;
  /* border: 2px solid rgb(63, 24, 24);
  border-radius: 5px;
  background: rgba(211, 125, 94, 0.8); */
  display: flex;
  justify-content: start;
  position: relative;
}
.todo-invalid {
  color: #ccc;
}
.line-throw {
  position: absolute;
  content: "";
  background-color: #000;
  display: block;
  width: 95%;
  height: 1px;
  top: 50%;
  
}
